{
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "cypress/globals": true
  },
  "extends": ["eslint:recommended", "plugin:cypress/recommended"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "cypress"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-uses-vars": [2]
  }
}
